 Volume in drive C is Windows
 Volume Serial Number is D0C5-77AC

 Directory of C:\Users\marth\fhfh

05/01/2026  11:23                12 old.txt
               1 File(s)             12 bytes
               0 Dir(s)  50.556.354.560 bytes free
